body {font-family:arial,sans-serif;font-size:10pt;}

#time_source {
	color: #666666;
}

#pageCount{width:500px; margin:10px auto; text-align:center} 
#pageCount span{margin:4px; font-size:14px}
#customHeader a {float: left}

.ui-autocomplete {
	width: 180px;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}

.col_head {
	width: 100px;
	height: 100px;
}

.ui-progressbar {
   position: relative;
 }
 .progress-label {
   position: relative;
   left: 50%;
   top: -25px;
   font-weight: bold;
   text-shadow: 1px 1px 0 #fff;
 }
 
#box {
	display:none;
}

#table {
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	table-layout:fixed ;
}

#table td {
    border: 1px solid grey;
    background: #D8D8D8;
    height: 150px;
    vertical-align: bottom;
}

#table td span {
	display:block;
}

#cardMessage {
	padding-top: 50px;
}

#orderContent {
	float: left;
}

#orderContent ul {  
	list-style-type: none;
}  
           
#orderContent h3 {  
	font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
	color: grey;
}  
           
#orderContent li p {  
	font: 200 12px/1.5 Georgia, Times New Roman, serif;  
}  
           
#orderContent li {  
	padding: 10px;  
	overflow: auto;  
}  
           
#orderContent li:hover {  
	background: #DFFDFD;  
	cursor: pointer;  
} 

#orderContent span {
	padding-left: 50px;
}

#notification {float: left;position: relative;width:350px;height: 450px; }

.mini-preview-anchor {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.mini-preview-wrapper {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    margin-top: -4px;
    border: solid 1px #000;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
    transition: z-index steps(1) .3s, opacity .3s, margin-top .3s;
}

.mini-preview-anchor:hover .mini-preview-wrapper {
    z-index: 2;
    opacity: 1;
    margin-top: 6px;
    transition: opacity .3s, margin-top .3s;
}

.mini-preview-loading, .mini-preview-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
}

.mini-preview-loading {
    display: table;
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    color: #f5ead4;
    background-color: #59513f;
}

.mini-preview-loading::before {
    content: 'Loading...';
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mini-preview-cover {
    background-color: rgba(0, 0, 0, 0); /* IE fix */
}

.mini-preview-frame {
    border: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}